@{
  Layout = "_Layout";
}

<span>Dr.Sillystringz's Factory Database Management System</span> 

<br>

<p class="btn btn-dark btn-lg btn-block">@Html.ActionLink("See All Machines", "Index", "Machines", null, new { @class = "text" })</p>
<p class="btn btn-dark btn-lg btn-block">@Html.ActionLink("See All Engineers", "Index", "Engineers", null, new { @class = "text" })</p>